* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    overflow: initial;
    overflow-x: clip
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 5px;
}

.div-page {
    width: 100%;
    height: 100vh;
}

#btn-menu {
    display: none;
    z-index: 3;
}

#btn-form-submit {
    width: 200px;
    height: 25px;

}

#Poema {
    background-color: aliceblue;
}

#Acomp {
    background-color:darkolivegreen;
}

#Detalles {
    background-color: bisque;
}

#Ubicación {
    background-color: cadetblue;
}

#Vestimenta {
    background-color: darksalmon;
}

#RSVP {
    background-color: dodgerblue;
}

#form-RSVP {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.mapa {
    width: 100%;
    height: 100%;;
}

.map-container {
    height: 60%;
    width: 80%;
    margin: 0 auto;
}

.opcion-boda {
   /* margin: 0 10% 15px 10%;*/
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    cursor: pointer;
}

.opcion-boda input {
    margin-right: 10px;
}

.fix-top {
    position: fixed;
    top: 0;
}

nav {
    width: 100%;
}

#nombre-form {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    width: 60%;
}

@media (max-width: 800px) {
    .map-container {
        margin: 0 auto;
        width: 100%;
    }

    #btn-menu {
        display: block;
        right: 0;
    }

    #btn-form-submit {
        width: 100%;

    }
    .div-page {
        padding: 10%; 
    }

    #nav-menu {
        display: none;
        width: 100%;
        background-color: cornflowerblue;
        height: 100vh;
        padding: 0 20%;
        z-index: 2;
    }

    #nombre-form {
        width: 100%;

    }

    li {
        font-size: 2rem;
    }
}